html {
    border: 3px white;
    text-align: center;
}

body {
    text-align: center;
    transition: background-color 0.4s ease;
    background-color: rgb(29, 29, 29);
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: inherit;
}

#tools {
    display: flex;
    justify-content: space-evenly;
}
/*  */
#key-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
#technical-skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
#skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: black;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h4 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 20px;
    height: 80px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-brand:hover {
    color: white;
    text-decoration: overline;
}

.navbar-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    color: white;
    text-decoration: overline;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}
.container {
    margin-top: 40px;
    padding: 20px;
}
/* Responsive Styles */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items:center;
        padding: 10px;
    }

    .navbar-links {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        display: block;
        margin: 10px 0;
    }

    .card {
        padding: 12px;
        margin-bottom: 12px;
    }

    .card h3 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .navbar {
            align-items: center;
        }
    .navbar-brand {
        font-size: 20px;
    }

    .navbar-logo {
        width: 30px;
        height: 30px;
    }

    .nav-link {
        font-size: 16px;
    }

    .card {
        padding: 10px;
        margin-bottom: 10px;
    }

    .card h3 {
        font-size: 18px;
    }
}