html {
    border: 3px white;
    text-align: center;
}

body {
    text-align: center;
    transition: background-color 0.4s ease;
    background-color: black;
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: inherit;
}

#tools {
    display: flex;
        justify-content: space-evenly;
}