html{
    border: 3px blueviolet;
    text-align: center;
}
body {
     text-align: center;
     transition: background-color 0.4s ease;
}
.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}
/* --- */