html{
    border: 3px blueviolet;
}
.main {
    text-align: center;
}
body.darkMode {
    background-color: grey;
    color:white;
}
body.lightMode {
    background-color: whitesmoke;
    color: black;
}
svg {
    width: 100px;
    height: 100px;
}
